#color{
    background-image: linear-gradient(
        60deg,
        hsl(240deg 100% 20%) 0%,
        hsl(311deg 100% 25%) 38%,
        hsl(334deg 100% 40%) 62%,
        hsl(6deg 98% 61%) 80%,
        hsl(37deg 100% 50%) 93%,
        hsl(55deg 100% 50%) 100%
      );
width:1000px;
height:300px;
margin-left:150px;
margin-right:200px;
}
#tag{
    padding-top: 10%;
}
#unit{
    background-color:cadetblue;
    width:1000px;
    height:450px;
    margin-left:150px;
    margin-right:200px;
    text-align:center;
}
#btn{
    border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(21, 22, 21);
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color:rgb(33, 146, 29);
}
body{
    text-align:center;
  background-image:url("calculator.jpg");
  background-repeat:no-repeat;
    background-size: 1400px ;
}
